# Conexión PostgreSQL
DATABASE_URL="postgresql://usuario:password@localhost:5432/bdtupa"

# Servidor
PORT=3001
NODE_ENV=development

# JWT
JWT_SECRET=cambia_esto_por_un_secreto_seguro_en_produccion
JWT_EXPIRES_IN=8h

# Archivos subidos
UPLOAD_MAX_SIZE_MB=5
UPLOAD_DIR=./uploads
